<div class="cs-table-wrap">
  <table class="cs-table">
    <thead>
      <tr>
        <th><div class="cs-skel" style="width: 30%; height: 12px;"></div></th>
        <th><div class="cs-skel" style="width: 40%; height: 12px;"></div></th>
        <th><div class="cs-skel" style="width: 20%; height: 12px;"></div></th>
        <th><div class="cs-skel" style="width: 25%; height: 12px;"></div></th>
        <th><div class="cs-skel" style="width: 15%; height: 12px;"></div></th>
      </tr>
    </thead>
    <tbody>
      {% for i in '12345' %}
      <tr>
        <td><div class="cs-skel" style="width: 90%; height: 16px;"></div></td>
        <td><div class="cs-skel" style="width: 70%; height: 16px;"></div></td>
        <td><div class="cs-skel" style="width: 50%; height: 16px;"></div></td>
        <td><div class="cs-skel" style="width: 60%; height: 16px;"></div></td>
        <td><div class="cs-skel" style="width: 40%; height: 16px;"></div></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>